.add-item-form {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45rem;
  margin: 0 2rem;
  padding: 3rem;
  border-radius: 10px;
}

.habit-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.task-type {
  padding: 0 2rem;
}

.switch-button {
  margin: 0 2rem;
}

.add-item-name {
  font-weight: 700;
  background: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: medium;
  margin: 1rem;
  padding: 1rem 0;
  color: black;
}

.text-input-button {
  display: flex;
  flex-direction: row;
}
