.button {
  background: none;
  border: none;
  border-radius: 5px;
  color: #939393;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  padding: 1.2rem;
  width: 7rem;
  text-decoration: none;
  &:hover {
    background: lighten($color: #9de13c, $amount: 6%);
  }
}

.button--remove {
  background: none;
}

.button--habit {
  background: #939393;
  color: #565656;
  font-size: 1.5rem;
}

.button--show-habits {
  &:hover {
    background: #262626;
  }
}
