.button {
  background: none;
  border: none;
  border-radius: 5px;
  color: #939393;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  padding: 1.2rem;
  width: 7rem;
  text-decoration: none;
  &:hover {
    background: lighten($color: #9de13c, $amount: 6%);
  }
}

.button--add {
  background: #565656;
  &:hover {
    background: #565656;
    color: #eeeeee;
  }
  font-size: 1.4rem;
  border: none;
  border-radius: 5%;
  color: #939393;
  padding: 0.5rem;
  margin: 0 1rem;
}

.button--remove {
  background: none;
}

.button--habit {
  background: #939393;
  color: #565656;
  font-size: 1.5rem;
}

.button--show-habits {
  &:hover {
    background: #262626;
  }
  padding: 0;
  width: auto;
  margin: 0 0.5rem;
}

.button--selected {
  background: #9de13c;
  color: #262626;
  font-weight: 700;
}

.button--switch {
  &:hover {
    background: none;
    color: #eeeeee;
    font-weight: 700;
  }
}
