.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  @media (min-width: 45rem) {
    // Desktop breakpoint
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
    height: 100vh;
  }
}
