.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  @media (min-width: 45rem) {
    // Desktop breakpoint
    justify-content: space-between;
    padding: 4rem;
    height: 100vh;
    margin: 0 8rem;
  }
}
