.existing-habits {
  padding: 0 0 0 2rem;
}

.existing-habits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.existing-habit-tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 5rem;
  background: #565656;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.75rem;
  border: 1px solid #9de13c;
  box-shadow: 1px 1px 0px #9de13c, 2px 2px 0px #9de13c, 3px 3px 0px #9de13c,
    4px 4px 0px #9de13c, 5px 5px 0px #9de13c, 6px 6px 0px #9de13c;
}

.habit-streak {
  margin: 0 0.5rem;
  font-size: small;
}

.habit-title {
  margin: 0 0.5rem;
}

.add-button {
  background: none;
  border: none;
  color: #939393;
}
