.existing-habits {
  display: flex;
  flex-direction: row;
}

.existing-habit-tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 2rem;
  background-color: #4885ed;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  height: 5rem;
}

.habit-streak {
  margin: 0 1rem;
}

.habit-title {
  margin: 0 1rem;
}

.add-button {
  background-color: #4885ed;
  border-radius: 50%;
  border-color: black;
}
