.habits-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 45rem) {
    // Desktop breakpoint
    justify-content: space-between;
    padding: 4rem;
    height: 100vh;
    margin: 0 8rem;
  }
}

.habits-page__title {
  margin: 0;
  font-size: 4rem;
}
