.habit-tile {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.75rem;
  width: 15rem;
  border: 1px solid #4885ed;
  box-shadow: 1px 1px 0px #4885ed, 2px 2px 0px #4885ed, 3px 3px 0px #4885ed,
    4px 4px 0px #4885ed, 5px 5px 0px #4885ed, 6px 6px 0px #4885ed;
}

.habit-info {
  margin: 0;
  font-size: 1.3rem;
}
