.header {
  background: #565656;
  padding: 1.6rem 0;
  top: 0;
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: 0.4rem;
  margin-top: 0;
}

.header__link {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 1rem 0.5rem;
  color: #939393;
  text-decoration: none;
  &:hover {
    color: #eeeeee;
  }
}

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
