.header-content {
  background: #4885ed;
}

.date-title {
  display: flex;
  flex-direction: row;
}

.date {
  margin: 5rem;
}

.single-date-picker {
  margin: 2rem;
}

.SingleDatePickerInput {
  background-color: black;
}

.SingleDatePickerInput__withBorder {
  border: none;
}
