.item {
  background: #262626;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  margin: 0;
  border: none;
}

.item-name {
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.task-name {
  font-size: large;
  margin: 0;
}

.checkbox-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
