.task-list {
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
}

.item-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 2rem;
  max-width: 45rem;
  background: #262626;
  border: none;
  width: 100%;
}

.date-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  text-align: center;
}

.date {
  margin: 0rem;
}

.single-date-picker {
  margin: 2rem;
}

.SingleDatePickerInput {
  background: none;
}

.SingleDatePickerInput__withBorder {
  border: none;
}

input#date.DateInput_input.DateInput_input_1 {
  background: #262626;
  color: #939393;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  border-radius: 10%;
}

.show-hide-habits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.remove-all {
  width: 100%;
  padding: 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
